body {
  background-color: lightgray;
  margin: 0;
}

.wrapper {
  border: 3px solid black;
  display: grid;


  grid-template-rows: 150px min-content min-content 1fr;

  grid-template-columns: 1fr 500px 1fr;

  min-height: 100vh;
}


header {
  background-color: azure;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}


.emptyspaceleft {
  background-color: white;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}


main {
  background-color: white;
  grid-row: 2 / 3;
  grid-column: 2 / 3;


  padding: 2rem;
}

.emptyspaceright {
  background-color: white;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}


footer {
  background-color: lightgray;
  grid-row: 3 / 4;
  grid-column: 1 / 4;

  
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

address {
  font-style: normal;
}


h1 {
  text-align: center;
}